.venv/
venv/
.git
.idea
.vscode/
.env
.env.*
crontab
media/
staticfiles/
__pycache__/
*.pyc
*.bak
*.swp
static/
uploaded_documents/
cache/
logs/
my/
keys/
server/
/uploaded_documents/
node_modules/
.pycharm_tmp
.uploaded_documents
uploaded_documents