.venv/
venv/
*.pyc
/static/
.env
my/
logs/
keys/
db.sqlite3
/uploaded_documents/
crontab
/cache/
.pycharm_tmp
.git
.idea
.vscode/
.env.*
media/
staticfiles/
__pycache__/
*.bak
*.swp
uploaded_documents/
cache/
server/
node_modules/
portable-mysql/
dbfightfire
.env
